@media only screen and (max-width: 700px) {
  body {
    background-color: #fff;
    font-family: sans-serif;
  }
  .back a {
    color: #800020;
  }
  h1 {
    color: #800020;
  }
  p {
    color: #800020;
  }
  #map {
    height: 150px;
    width: 1fr;
    border: solid 1px #800020;
    border-radius: 10px;
  }
  #ur {
    color: #800020;
  }
  .cardcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
  }
  .card {
    display: grid;
    grid-template-columns: 1fr;
    border: solid 1px #800020;
    height: 150px;
    width: 150px;
    border-radius: 10px;
  }
  #type {
    justify-self: center;
    align-self: center;
  }
  .card:hover {
    background-color: rgb(62, 62, 62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
  }
  #line {
    border-bottom: solid 2px #fff;
  }
}