* {
  max-width: 700px;
  font-family: Fredoka;
  color: white;
}

@font-face {
  font-family: 'Fredoka', sans-serif;
  src: url();
}

body {
  margin: 0;
}

#general-container {
  background-color: aqua;
  display: grid;
}

header {
  display: grid;
  background-color: grey;
  grid-template-columns: auto auto 10% 10%;
  grid-template-rows: 8vh;
  grid-template-areas: "logo . hamburger notification ";
  top: 0;
  position: sticky;
}

header p {
  grid-area: logo;
  margin: auto 0;
  margin-left: 10%;
  width: fit-content;
  font-size: 200%;
}

header a {
  display: grid;
  text-align: center;
  text-decoration: none;
  font-size: 200%;
  align-items: center;
  color: white;
}

#hamburger {
  grid-area: hamburger;
}

#notification {
  grid-area: notification;
}

#main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 70%;
  grid-template-areas: "welcome welcome" "popular-general popular-prefer";
  height: 84vh;
}

footer {
  display: grid;
  background-color: grey;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 8vh;
  bottom: 0;
  position: sticky;
}

footer a {
  display: grid;
  text-align: center;
  text-decoration: none;
  font-size: 150%;
  align-items: center;
  color: white;
}

footer a:active {
  font-size: 200%;
}