* {
  max-width: 700px;
  font-family: Fredoka;
}

@font-face {
  font-family: 'Fredoka', sans-serif;
  src: url();
}

body {
  margin: 0;
}

.tasteHome {
  color: white;
}

#general-container {
  background-color: #4A6572;
  display: grid;
}

header {
  display: grid;
  background-color: grey;
  grid-template-columns: auto auto 10% 10%;
  grid-template-rows: 8vh;
  grid-template-areas: "logo . hamburger notification ";
  top: 0;
  position: sticky;
}

header p {
  grid-area: logo;
  margin: auto 0;
  margin-left: 10%;
  width: fit-content;
  font-size: 200%;
}

header a {
  display: grid;
  text-align: center;
  text-decoration: none;
  font-size: 200%;
  align-items: center;
  color: white;
}

#hamburger {
  grid-area: hamburger;
}

#notification {
  grid-area: notification;
}

#main {
  height: 650px;
  overflow: hidden;
}

footer {
  display: grid;
  background-color: grey;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 8vh;
  bottom: 0;
  position: sticky;
}

footer a {
  display: grid;
  text-align: center;
  text-decoration: none;
  font-size: 150%;
  align-items: center;
  color: white;
}

footer a:active {
  font-size: 200%;
}

.box {
  margin-left: 54px;
  margin-top: 30px;
  width: 100%;
}

.form {
  margin-left: 125px;
  color: white;
}

.form-control {
  width: 335px;
}

.button {
  float: right;
  margin-right: 110px;
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 6px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-size: 15px;
  height: 40px;
  justify-content: center;
  outline: none;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  white-space: nowrap;
}

.button:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

.button:active {
  outline: 0;
}

.button:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

.cancel {
  float: left;
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#c25a4d, #ff2e09);
  border-radius: 6px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-size: 15px;
  height: 40px;
  justify-content: center;
  outline: none;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  white-space: nowrap;
}

.cancel:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

.cancel:active {
  outline: 0;
}

.cancel:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

.cater {
  color: white;
}

.selection {
  margin-top: 50px;
  margin-left: 55px;
}

.success {
  text-align: center;
  color: white;
}

.notify {
  font-size: 20px;
  text-align: center;
  color: white;
}

.return {
  margin-top: 300px;
  margin-left: 50px;
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#c25a4d, #ff2e09);
  border-radius: 6px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-size: 15px;
  height: 40px;
  justify-content: center;
  outline: none;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  white-space: nowrap;
}

.return:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

.return:active {
  outline: 0;
}

.return:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

.request {
  float: right;
  margin-top: 300px;
  margin-right: 50px;
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 6px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-size: 15px;
  height: 40px;
  justify-content: center;
  outline: none;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  white-space: nowrap;
}

.request:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

.request:active {
  outline: 0;
}

.request:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}